<form>
<label class="ds-c-label" for="household">
    Household size
    <input name="household">
  </label>
<label class="ds-c-label" for="income">
    Income
    <input name="income">
  </label>
  <button id="button" type="submit">Submit</button>
</form>
<h1>EFIN: <span id="efin"></span></h1>